@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


*{
 box-sizing: border-box;
}

html,
body {
 
	margin: 0;
	//padding: 0;
	//background: url("../../build/img/brown.jpg") no-repeat ;
	//background-size: cover;
	//font-family: "Dancing Script", cursive;
 	font-family: 'Roboto Condensed', sans-serif;
	background: aquamarine;
}

.wrapper {

}
